$main-color: white;
$primary-color: chocolate;
$background: black;
$text-font-family: "Helvetica";
$title-font-family: "Helvetica";

$text-font-size: 30px;
$title-font-size: 60px;
$subtitle-font-size: 40px;

$x-small: 500px;
$small: 640px;
$medium: 960px;
$large: 1200px;
$x-large: 1500px;
